<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label> Prénom: </label>
  <input type="text" formControlName="first_name" />
  <label> Nom: </label>
  <input type="text" formControlName="last_name" />
  <label> age: </label>
  <input type="number" formControlName="age" />
  <div formGroupName="address">
    <label> numéro: </label>
    <input type="text" formControlName="number" />
    <label> rue: </label>
    <input type="text" formControlName="street" />
    <label> ville: </label>
    <input type="text" formControlName="ville" />
  </div>
  <div formArrayName="cats">
    <div *ngFor="let cat of cats.controls; let i = index">
      <label>
        Chat {{ i + 1 }} :
        <input type="text" [formControlName]="i" />
      </label>
    </div>
    <button type="button" (click)="addCats()">Ajouter un chat</button>
  </div>
  <button type="submit">Inscription</button>
</form>

<div *ngFor="let user of users; let i = index">
  <p>Prénom : {{ user.first_name }}</p>
  <p>Nom de famille : {{ user.last_name }}</p>
  <p>Rue : {{ user.address.street }}</p>
  <p>Age : {{ user.age }}</p>
  <p>Chats :</p>
  <div *ngFor="let cat of user.cats; let i = index">
    {{ cat }}
  </div>
</div>
